.first {
  display: flex;
  background-color: bisque;
}

.first > div {
  margin: auto;
  padding: 20px;
  font-size: medium;
  height: 150px;
  width: 800px;
  border: solid;
  border-width: 5px;
  background-color: whitesmoke;
  font-style: normal;
  border-color: cornflowerblue;
  color: #000000;
  box-shadow: 15px 10px 15px rgba(0, 0, 0, 3);
}